[Unit]
Description=Mongodb Container (casper)
Requires=docker.service
After=docker.service


[Service]
TimeoutStartSec=8
ExecStartPre=-/usr/bin/docker stop mongodb
ExecStartPre=-/usr/bin/docker rm mongodb
ExecStartPre=-/bin/bash /home/data/casper/docker/build.sh mongodb
ExecStart=/bin/bash /home/data/casper/docker/run.sh mongodb
ExecStop=/usr/bin/docker stop mongodb
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target